workflows/credential_rotation.json
{
  "name": "Credential Rotation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rotate-credential",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "rotate-credential"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-item",
              "leftValue": "={{ $json.body.item }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "cond-pass",
              "leftValue": "={{ $json.body.password }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1a2b3c4d-0002-0002-0002-000000000002",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://vault_sync:8777/update",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Webhook').item.json.body.item }}"
            },
            {
              "name": "username",
              "value": "={{ $('Webhook').item.json.body.username || '' }}"
            },
            {
              "name": "password",
              "value": "={{ $('Webhook').item.json.body.password }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "1a2b3c4d-0003-0003-0003-000000000003",
      "name": "Update Vaultwarden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://vault_sync:8777/update-keycloak",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "={{ $('Webhook').item.json.body.username || $('Webhook').item.json.body.item }}"
            },
            {
              "name": "password",
              "value": "={{ $('Webhook').item.json.body.password }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "1a2b3c4d-0004-0004-0004-000000000004",
      "name": "Update Keycloak",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"ok\",\n  \"updated\": [\"vaultwarden\", \"keycloak\"],\n  \"item\": \"{{ $('Webhook').item.json.body.item }}\",\n  \"vaultwarden_result\": {{ JSON.stringify($('Update Vaultwarden').item.json) }},\n  \"keycloak_result\": {{ JSON.stringify($('Update Keycloak').item.json) }}\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "1a2b3c4d-0005-0005-0005-000000000005",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"error\": \"Missing required fields: 'item' and 'password' are required\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "1a2b3c4d-0006-0006-0006-000000000006",
      "name": "Return Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Update Vaultwarden",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Vaultwarden": {
      "main": [
        [
          {
            "node": "Update Keycloak",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Keycloak": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-22T00:00:00.000Z",
  "versionId": "1"
}
