workflows/portal_provision.json
{"updatedAt":"2026-03-21T22:05:28.087Z","createdAt":"2026-03-20T23:59:17.415Z","id":"DXjMzKwRB6c54GCY","name":"Portal: Provision Service","description":null,"active":true,"isArchived":false,"nodes":[{"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"parameters":{"httpMethod":"POST","path":"portal-provision","responseMode":"responseNode","options":{}}},{"id":"set-response","name":"Build Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,300],"parameters":{"jsCode":"const fs = require(\"fs\");\nconst inp = $input.first().json;\nconst body = inp.body !== undefined ? inp.body : inp;\nconst filePath = \"/data/portal/services.json\";\nconst data = JSON.parse(fs.readFileSync(filePath, \"utf8\"));\n\nconst id = (body.id || (body.name || \"\").toLowerCase().replace(/[^a-z0-9]+/g, \"-\")).replace(/^-+|-+$/g, \"\");\nconst newService = {\n  id,\n  name: body.name || id,\n  url: body.url || \"\",\n  description: body.description || \"\",\n  icon: body.icon || \"box\",\n  category: body.category || \"infra\",\n  favorite: false,\n  ssoTier: body.ssoTier || 3\n};\nif (body.sshTarget) newService.sshTarget = body.sshTarget;\nif (body.apiProvider) newService.apiProvider = body.apiProvider;\n\nconst idx = data.services.findIndex(s => s.id === id);\nif (idx > -1) {\n  data.services[idx] = { ...data.services[idx], ...newService };\n} else {\n  data.services.push(newService);\n}\n\nfs.writeFileSync(filePath, JSON.stringify(data, null, 2));\nreturn [{ json: { status: \"ok\", action: \"provisioned\", service: newService, provisioned_at: new Date().toISOString() } }];\n"}},{"id":"respond","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[750,300],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}}}],"connections":{"Webhook":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"4096d69e-d632-4806-aae9-89f873f31e65","activeVersionId":"4096d69e-d632-4806-aae9-89f873f31e65","versionCounter":40,"triggerCount":1,"shared":[{"updatedAt":"2026-03-20T23:59:17.415Z","createdAt":"2026-03-20T23:59:17.415Z","role":"workflow:owner","workflowId":"DXjMzKwRB6c54GCY","projectId":"9nfbed6kWhG9AlzC","project":{"updatedAt":"2026-03-14T17:20:00.372Z","createdAt":"2026-03-12T21:41:24.639Z","id":"9nfbed6kWhG9AlzC","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"22098edd-6722-4a81-acf5-8996c4d72365"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-21T22:05:28.088Z","createdAt":"2026-03-21T22:05:28.088Z","versionId":"4096d69e-d632-4806-aae9-89f873f31e65","workflowId":"DXjMzKwRB6c54GCY","nodes":[{"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"parameters":{"httpMethod":"POST","path":"portal-provision","responseMode":"responseNode","options":{}}},{"id":"set-response","name":"Build Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,300],"parameters":{"jsCode":"const fs = require(\"fs\");\nconst inp = $input.first().json;\nconst body = inp.body !== undefined ? inp.body : inp;\nconst filePath = \"/data/portal/services.json\";\nconst data = JSON.parse(fs.readFileSync(filePath, \"utf8\"));\n\nconst id = (body.id || (body.name || \"\").toLowerCase().replace(/[^a-z0-9]+/g, \"-\")).replace(/^-+|-+$/g, \"\");\nconst newService = {\n  id,\n  name: body.name || id,\n  url: body.url || \"\",\n  description: body.description || \"\",\n  icon: body.icon || \"box\",\n  category: body.category || \"infra\",\n  favorite: false,\n  ssoTier: body.ssoTier || 3\n};\nif (body.sshTarget) newService.sshTarget = body.sshTarget;\nif (body.apiProvider) newService.apiProvider = body.apiProvider;\n\nconst idx = data.services.findIndex(s => s.id === id);\nif (idx > -1) {\n  data.services[idx] = { ...data.services[idx], ...newService };\n} else {\n  data.services.push(newService);\n}\n\nfs.writeFileSync(filePath, JSON.stringify(data, null, 2));\nreturn [{ json: { status: \"ok\", action: \"provisioned\", service: newService, provisioned_at: new Date().toISOString() } }];\n"}},{"id":"respond","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[750,300],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}}}],"connections":{"Webhook":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"null null","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-21T22:05:28.137Z","id":186,"workflowId":"DXjMzKwRB6c54GCY","versionId":"4096d69e-d632-4806-aae9-89f873f31e65","event":"deactivated","userId":"22098edd-6722-4a81-acf5-8996c4d72365"},{"createdAt":"2026-03-21T22:05:28.156Z","id":187,"workflowId":"DXjMzKwRB6c54GCY","versionId":"4096d69e-d632-4806-aae9-89f873f31e65","event":"activated","userId":"22098edd-6722-4a81-acf5-8996c4d72365"},{"createdAt":"2026-03-21T22:05:28.201Z","id":188,"workflowId":"DXjMzKwRB6c54GCY","versionId":"4096d69e-d632-4806-aae9-89f873f31e65","event":"deactivated","userId":"22098edd-6722-4a81-acf5-8996c4d72365"},{"createdAt":"2026-03-21T22:05:28.257Z","id":189,"workflowId":"DXjMzKwRB6c54GCY","versionId":"4096d69e-d632-4806-aae9-89f873f31e65","event":"activated","userId":"22098edd-6722-4a81-acf5-8996c4d72365"}]}}