workflows/portal_delete.json
{"updatedAt":"2026-03-21T22:05:28.732Z","createdAt":"2026-03-21T16:45:26.685Z","id":"q6C6PUPzyYhhT8gG","name":"Portal Delete","description":null,"active":true,"isArchived":false,"nodes":[{"id":"webhook-node","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"portal-delete-wh","parameters":{"path":"portal-delete","httpMethod":"POST","responseMode":"responseNode","options":{}}},{"id":"set-node","name":"Build Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300],"parameters":{"jsCode":"const fs = require(\"fs\");\nconst inp = $input.first().json;\nconst body = inp.body !== undefined ? inp.body : inp;\nconst filePath = \"/data/portal/services.json\";\nconst data = JSON.parse(fs.readFileSync(filePath, \"utf8\"));\nconst before = data.services.length;\ndata.services = data.services.filter(s => s.id !== body.id);\nfs.writeFileSync(filePath, JSON.stringify(data, null, 2));\nreturn [{ json: { status: \"ok\", action: \"deleted\", deleted: before - data.services.length } }];\n"}},{"id":"respond-node","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[650,300],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}}}],"connections":{"Webhook":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"413c8fc7-8f3b-4952-85ca-2afaa78a8306","activeVersionId":"413c8fc7-8f3b-4952-85ca-2afaa78a8306","versionCounter":30,"triggerCount":1,"shared":[{"updatedAt":"2026-03-21T16:45:26.685Z","createdAt":"2026-03-21T16:45:26.685Z","role":"workflow:owner","workflowId":"q6C6PUPzyYhhT8gG","projectId":"9nfbed6kWhG9AlzC","project":{"updatedAt":"2026-03-14T17:20:00.372Z","createdAt":"2026-03-12T21:41:24.639Z","id":"9nfbed6kWhG9AlzC","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"22098edd-6722-4a81-acf5-8996c4d72365"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-21T22:05:28.734Z","createdAt":"2026-03-21T22:05:28.734Z","versionId":"413c8fc7-8f3b-4952-85ca-2afaa78a8306","workflowId":"q6C6PUPzyYhhT8gG","nodes":[{"id":"webhook-node","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"portal-delete-wh","parameters":{"path":"portal-delete","httpMethod":"POST","responseMode":"responseNode","options":{}}},{"id":"set-node","name":"Build Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300],"parameters":{"jsCode":"const fs = require(\"fs\");\nconst inp = $input.first().json;\nconst body = inp.body !== undefined ? inp.body : inp;\nconst filePath = \"/data/portal/services.json\";\nconst data = JSON.parse(fs.readFileSync(filePath, \"utf8\"));\nconst before = data.services.length;\ndata.services = data.services.filter(s => s.id !== body.id);\nfs.writeFileSync(filePath, JSON.stringify(data, null, 2));\nreturn [{ json: { status: \"ok\", action: \"deleted\", deleted: before - data.services.length } }];\n"}},{"id":"respond-node","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[650,300],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}}}],"connections":{"Webhook":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"null null","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-21T22:05:28.768Z","id":198,"workflowId":"q6C6PUPzyYhhT8gG","versionId":"413c8fc7-8f3b-4952-85ca-2afaa78a8306","event":"deactivated","userId":"22098edd-6722-4a81-acf5-8996c4d72365"},{"createdAt":"2026-03-21T22:05:28.787Z","id":199,"workflowId":"q6C6PUPzyYhhT8gG","versionId":"413c8fc7-8f3b-4952-85ca-2afaa78a8306","event":"activated","userId":"22098edd-6722-4a81-acf5-8996c4d72365"},{"createdAt":"2026-03-21T22:05:28.853Z","id":200,"workflowId":"q6C6PUPzyYhhT8gG","versionId":"413c8fc7-8f3b-4952-85ca-2afaa78a8306","event":"deactivated","userId":"22098edd-6722-4a81-acf5-8996c4d72365"},{"createdAt":"2026-03-21T22:05:28.911Z","id":201,"workflowId":"q6C6PUPzyYhhT8gG","versionId":"413c8fc7-8f3b-4952-85ca-2afaa78a8306","event":"activated","userId":"22098edd-6722-4a81-acf5-8996c4d72365"}]}}