workflows/portal_update.json
{"updatedAt":"2026-03-21T22:05:28.521Z","createdAt":"2026-03-21T16:45:16.142Z","id":"NCvllVAgkG91FXzD","name":"Portal Update","description":null,"active":true,"isArchived":false,"nodes":[{"id":"webhook-node","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"portal-update-wh","parameters":{"path":"portal-update","httpMethod":"POST","responseMode":"responseNode","options":{}}},{"id":"set-node","name":"Build Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300],"parameters":{"jsCode":"const fs = require(\"fs\");\nconst inp = $input.first().json;\nconst body = inp.body !== undefined ? inp.body : inp;\nconst filePath = \"/data/portal/services.json\";\nconst data = JSON.parse(fs.readFileSync(filePath, \"utf8\"));\nconst id = body.id;\nconst fields = body.fields;\nconst idx = data.services.findIndex(s => s.id === id);\nif (idx === -1) {\n  return [{ json: { status: \"error\", message: \"Service not found: \" + id } }];\n}\ndata.services[idx] = { ...data.services[idx], ...fields };\nif (fields.sshTarget === null || fields.sshTarget === \"\") {\n  delete data.services[idx].sshTarget;\n}\nfs.writeFileSync(filePath, JSON.stringify(data, null, 2));\nreturn [{ json: { status: \"ok\", action: \"updated\", service: data.services[idx] } }];\n"}},{"id":"respond-node","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[650,300],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}}}],"connections":{"Webhook":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"205b9da0-c6ed-45ec-a25c-f79aaf9646eb","activeVersionId":"205b9da0-c6ed-45ec-a25c-f79aaf9646eb","versionCounter":30,"triggerCount":1,"shared":[{"updatedAt":"2026-03-21T16:45:16.142Z","createdAt":"2026-03-21T16:45:16.142Z","role":"workflow:owner","workflowId":"NCvllVAgkG91FXzD","projectId":"9nfbed6kWhG9AlzC","project":{"updatedAt":"2026-03-14T17:20:00.372Z","createdAt":"2026-03-12T21:41:24.639Z","id":"9nfbed6kWhG9AlzC","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"22098edd-6722-4a81-acf5-8996c4d72365"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-21T22:05:28.522Z","createdAt":"2026-03-21T22:05:28.522Z","versionId":"205b9da0-c6ed-45ec-a25c-f79aaf9646eb","workflowId":"NCvllVAgkG91FXzD","nodes":[{"id":"webhook-node","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"portal-update-wh","parameters":{"path":"portal-update","httpMethod":"POST","responseMode":"responseNode","options":{}}},{"id":"set-node","name":"Build Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300],"parameters":{"jsCode":"const fs = require(\"fs\");\nconst inp = $input.first().json;\nconst body = inp.body !== undefined ? inp.body : inp;\nconst filePath = \"/data/portal/services.json\";\nconst data = JSON.parse(fs.readFileSync(filePath, \"utf8\"));\nconst id = body.id;\nconst fields = body.fields;\nconst idx = data.services.findIndex(s => s.id === id);\nif (idx === -1) {\n  return [{ json: { status: \"error\", message: \"Service not found: \" + id } }];\n}\ndata.services[idx] = { ...data.services[idx], ...fields };\nif (fields.sshTarget === null || fields.sshTarget === \"\") {\n  delete data.services[idx].sshTarget;\n}\nfs.writeFileSync(filePath, JSON.stringify(data, null, 2));\nreturn [{ json: { status: \"ok\", action: \"updated\", service: data.services[idx] } }];\n"}},{"id":"respond-node","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[650,300],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}}}],"connections":{"Webhook":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"null null","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-21T22:05:28.545Z","id":194,"workflowId":"NCvllVAgkG91FXzD","versionId":"205b9da0-c6ed-45ec-a25c-f79aaf9646eb","event":"deactivated","userId":"22098edd-6722-4a81-acf5-8996c4d72365"},{"createdAt":"2026-03-21T22:05:28.559Z","id":195,"workflowId":"NCvllVAgkG91FXzD","versionId":"205b9da0-c6ed-45ec-a25c-f79aaf9646eb","event":"activated","userId":"22098edd-6722-4a81-acf5-8996c4d72365"},{"createdAt":"2026-03-21T22:05:28.611Z","id":196,"workflowId":"NCvllVAgkG91FXzD","versionId":"205b9da0-c6ed-45ec-a25c-f79aaf9646eb","event":"deactivated","userId":"22098edd-6722-4a81-acf5-8996c4d72365"},{"createdAt":"2026-03-21T22:05:28.665Z","id":197,"workflowId":"NCvllVAgkG91FXzD","versionId":"205b9da0-c6ed-45ec-a25c-f79aaf9646eb","event":"activated","userId":"22098edd-6722-4a81-acf5-8996c4d72365"}]}}