workflows/portal_provision.json
{"updatedAt":"2026-03-20T23:59:17.415Z","createdAt":"2026-03-20T23:59:17.415Z","id":"DXjMzKwRB6c54GCY","name":"Portal: Provision Service","description":null,"active":true,"isArchived":false,"nodes":[{"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"parameters":{"httpMethod":"POST","path":"portal-provision","responseMode":"responseNode","options":{}}},{"id":"set-response","name":"Build Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[500,300],"parameters":{"assignments":{"assignments":[{"id":"1","name":"status","value":"ok","type":"string"},{"id":"2","name":"message","value":"Service provisioned","type":"string"},{"id":"3","name":"name","value":"={{ $json.body.name }}","type":"string"},{"id":"4","name":"url","value":"={{ $json.body.url }}","type":"string"},{"id":"5","name":"internal","value":"={{ $json.body.internal }}","type":"boolean"},{"id":"6","name":"provisioned_at","value":"={{ $now }}","type":"string"}]},"options":{}}},{"id":"respond","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[750,300],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":200}}}],"connections":{"Webhook":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"975728b0-fc92-41bb-bcac-a5d404373585","activeVersionId":"975728b0-fc92-41bb-bcac-a5d404373585","versionCounter":10,"triggerCount":1,"shared":[{"updatedAt":"2026-03-20T23:59:17.415Z","createdAt":"2026-03-20T23:59:17.415Z","role":"workflow:owner","workflowId":"DXjMzKwRB6c54GCY","projectId":"9nfbed6kWhG9AlzC","project":{"updatedAt":"2026-03-14T17:20:00.372Z","createdAt":"2026-03-12T21:41:24.639Z","id":"9nfbed6kWhG9AlzC","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"22098edd-6722-4a81-acf5-8996c4d72365"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-20T23:59:17.433Z","createdAt":"2026-03-20T23:59:17.433Z","versionId":"975728b0-fc92-41bb-bcac-a5d404373585","workflowId":"DXjMzKwRB6c54GCY","nodes":[{"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"parameters":{"httpMethod":"POST","path":"portal-provision","responseMode":"responseNode","options":{}}},{"id":"set-response","name":"Build Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[500,300],"parameters":{"assignments":{"assignments":[{"id":"1","name":"status","value":"ok","type":"string"},{"id":"2","name":"message","value":"Service provisioned","type":"string"},{"id":"3","name":"name","value":"={{ $json.body.name }}","type":"string"},{"id":"4","name":"url","value":"={{ $json.body.url }}","type":"string"},{"id":"5","name":"internal","value":"={{ $json.body.internal }}","type":"boolean"},{"id":"6","name":"provisioned_at","value":"={{ $now }}","type":"string"}]},"options":{}}},{"id":"respond","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[750,300],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":200}}}],"connections":{"Webhook":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"null null","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-20T23:59:17.554Z","id":141,"workflowId":"DXjMzKwRB6c54GCY","versionId":"975728b0-fc92-41bb-bcac-a5d404373585","event":"activated","userId":"22098edd-6722-4a81-acf5-8996c4d72365"},{"createdAt":"2026-03-21T00:04:22.518Z","id":144,"workflowId":"DXjMzKwRB6c54GCY","versionId":"975728b0-fc92-41bb-bcac-a5d404373585","event":"deactivated","userId":"22098edd-6722-4a81-acf5-8996c4d72365"},{"createdAt":"2026-03-21T00:04:24.631Z","id":145,"workflowId":"DXjMzKwRB6c54GCY","versionId":"975728b0-fc92-41bb-bcac-a5d404373585","event":"activated","userId":"22098edd-6722-4a81-acf5-8996c4d72365"},{"createdAt":"2026-03-21T00:00:27.874Z","id":142,"workflowId":"DXjMzKwRB6c54GCY","versionId":"975728b0-fc92-41bb-bcac-a5d404373585","event":"deactivated","userId":"22098edd-6722-4a81-acf5-8996c4d72365"},{"createdAt":"2026-03-21T00:00:30.259Z","id":143,"workflowId":"DXjMzKwRB6c54GCY","versionId":"975728b0-fc92-41bb-bcac-a5d404373585","event":"activated","userId":"22098edd-6722-4a81-acf5-8996c4d72365"}]}}