workflows/portal_services_get.json
{"updatedAt":"2026-03-21T21:57:49.631Z","createdAt":"2026-03-21T21:57:49.631Z","id":"VHUS5Dx1q9HBZPln","name":"Portal Services (GET)","description":null,"active":true,"isArchived":false,"nodes":[{"id":"wh-get","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"parameters":{"path":"portal-services","httpMethod":"GET","responseMode":"responseNode","options":{}}},{"id":"code-get","name":"Read Services","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300],"parameters":{"jsCode":"const fs = require(\"fs\");\nconst data = JSON.parse(fs.readFileSync(\"/data/portal/services.json\", \"utf8\"));\nreturn [{ json: data }];"}},{"id":"respond-get","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[650,300],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}}}],"connections":{"Webhook":{"main":[[{"node":"Read Services","type":"main","index":0}]]},"Read Services":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"e3cfb77d-b095-4134-ba77-693ed9e7f030","activeVersionId":"e3cfb77d-b095-4134-ba77-693ed9e7f030","versionCounter":7,"triggerCount":1,"shared":[{"updatedAt":"2026-03-21T21:57:49.631Z","createdAt":"2026-03-21T21:57:49.631Z","role":"workflow:owner","workflowId":"VHUS5Dx1q9HBZPln","projectId":"9nfbed6kWhG9AlzC","project":{"updatedAt":"2026-03-14T17:20:00.372Z","createdAt":"2026-03-12T21:41:24.639Z","id":"9nfbed6kWhG9AlzC","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"22098edd-6722-4a81-acf5-8996c4d72365"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-21T21:57:49.643Z","createdAt":"2026-03-21T21:57:49.643Z","versionId":"e3cfb77d-b095-4134-ba77-693ed9e7f030","workflowId":"VHUS5Dx1q9HBZPln","nodes":[{"id":"wh-get","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"parameters":{"path":"portal-services","httpMethod":"GET","responseMode":"responseNode","options":{}}},{"id":"code-get","name":"Read Services","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300],"parameters":{"jsCode":"const fs = require(\"fs\");\nconst data = JSON.parse(fs.readFileSync(\"/data/portal/services.json\", \"utf8\"));\nreturn [{ json: data }];"}},{"id":"respond-get","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[650,300],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}}}],"connections":{"Webhook":{"main":[[{"node":"Read Services","type":"main","index":0}]]},"Read Services":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"null null","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-21T21:57:49.880Z","id":149,"workflowId":"VHUS5Dx1q9HBZPln","versionId":"e3cfb77d-b095-4134-ba77-693ed9e7f030","event":"activated","userId":"22098edd-6722-4a81-acf5-8996c4d72365"},{"createdAt":"2026-03-21T22:02:31.220Z","id":172,"workflowId":"VHUS5Dx1q9HBZPln","versionId":"e3cfb77d-b095-4134-ba77-693ed9e7f030","event":"deactivated","userId":"22098edd-6722-4a81-acf5-8996c4d72365"},{"createdAt":"2026-03-21T22:02:33.538Z","id":177,"workflowId":"VHUS5Dx1q9HBZPln","versionId":"e3cfb77d-b095-4134-ba77-693ed9e7f030","event":"activated","userId":"22098edd-6722-4a81-acf5-8996c4d72365"}]}}