workflows/portal_delete.json
{"updatedAt":"2026-03-21T16:45:26.685Z","createdAt":"2026-03-21T16:45:26.685Z","id":"q6C6PUPzyYhhT8gG","name":"Portal Delete","description":null,"active":true,"isArchived":false,"nodes":[{"id":"webhook-node","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"portal-delete-wh","parameters":{"path":"portal-delete","httpMethod":"POST","responseMode":"responseNode","options":{}}},{"id":"set-node","name":"Build Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[450,300],"parameters":{"options":{},"assignments":{"assignments":[{"id":"field1","name":"status","value":"ok","type":"string"},{"id":"field2","name":"action","value":"delete","type":"string"}]}}},{"id":"respond-node","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[650,300],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}}}],"connections":{"Webhook":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"ba5fbcd9-f76c-4390-945e-ee2eab6fe315","activeVersionId":"ba5fbcd9-f76c-4390-945e-ee2eab6fe315","versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2026-03-21T16:45:26.685Z","createdAt":"2026-03-21T16:45:26.685Z","role":"workflow:owner","workflowId":"q6C6PUPzyYhhT8gG","projectId":"9nfbed6kWhG9AlzC","project":{"updatedAt":"2026-03-14T17:20:00.372Z","createdAt":"2026-03-12T21:41:24.639Z","id":"9nfbed6kWhG9AlzC","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"22098edd-6722-4a81-acf5-8996c4d72365"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-21T16:45:26.693Z","createdAt":"2026-03-21T16:45:26.693Z","versionId":"ba5fbcd9-f76c-4390-945e-ee2eab6fe315","workflowId":"q6C6PUPzyYhhT8gG","nodes":[{"id":"webhook-node","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"portal-delete-wh","parameters":{"path":"portal-delete","httpMethod":"POST","responseMode":"responseNode","options":{}}},{"id":"set-node","name":"Build Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[450,300],"parameters":{"options":{},"assignments":{"assignments":[{"id":"field1","name":"status","value":"ok","type":"string"},{"id":"field2","name":"action","value":"delete","type":"string"}]}}},{"id":"respond-node","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[650,300],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}}}],"connections":{"Webhook":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"null null","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-21T16:45:30.442Z","id":148,"workflowId":"q6C6PUPzyYhhT8gG","versionId":"ba5fbcd9-f76c-4390-945e-ee2eab6fe315","event":"activated","userId":"22098edd-6722-4a81-acf5-8996c4d72365"}]}}