workflows/portal_update.json
{"updatedAt":"2026-03-21T16:45:16.142Z","createdAt":"2026-03-21T16:45:16.142Z","id":"NCvllVAgkG91FXzD","name":"Portal Update","description":null,"active":true,"isArchived":false,"nodes":[{"id":"webhook-node","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"portal-update-wh","parameters":{"path":"portal-update","httpMethod":"POST","responseMode":"responseNode","options":{}}},{"id":"set-node","name":"Build Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[450,300],"parameters":{"options":{},"assignments":{"assignments":[{"id":"field1","name":"status","value":"ok","type":"string"},{"id":"field2","name":"action","value":"update","type":"string"}]}}},{"id":"respond-node","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[650,300],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}}}],"connections":{"Webhook":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"4df2507f-9e45-4288-b572-02c8a9b39a26","activeVersionId":"4df2507f-9e45-4288-b572-02c8a9b39a26","versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2026-03-21T16:45:16.142Z","createdAt":"2026-03-21T16:45:16.142Z","role":"workflow:owner","workflowId":"NCvllVAgkG91FXzD","projectId":"9nfbed6kWhG9AlzC","project":{"updatedAt":"2026-03-14T17:20:00.372Z","createdAt":"2026-03-12T21:41:24.639Z","id":"9nfbed6kWhG9AlzC","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"22098edd-6722-4a81-acf5-8996c4d72365"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-21T16:45:16.150Z","createdAt":"2026-03-21T16:45:16.150Z","versionId":"4df2507f-9e45-4288-b572-02c8a9b39a26","workflowId":"NCvllVAgkG91FXzD","nodes":[{"id":"webhook-node","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"portal-update-wh","parameters":{"path":"portal-update","httpMethod":"POST","responseMode":"responseNode","options":{}}},{"id":"set-node","name":"Build Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[450,300],"parameters":{"options":{},"assignments":{"assignments":[{"id":"field1","name":"status","value":"ok","type":"string"},{"id":"field2","name":"action","value":"update","type":"string"}]}}},{"id":"respond-node","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[650,300],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}}}],"connections":{"Webhook":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"null null","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-21T16:45:19.882Z","id":147,"workflowId":"NCvllVAgkG91FXzD","versionId":"4df2507f-9e45-4288-b572-02c8a9b39a26","event":"activated","userId":"22098edd-6722-4a81-acf5-8996c4d72365"}]}}