workflows/portal_update_categories.json
{"updatedAt":"2026-03-21T22:05:28.322Z","createdAt":"2026-03-21T16:45:03.344Z","id":"MdZMVjJ2zUPmDtyu","name":"Portal Update Categories","description":null,"active":true,"isArchived":false,"nodes":[{"id":"webhook-node","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"portal-update-categories-wh","parameters":{"path":"portal-update-categories","httpMethod":"POST","responseMode":"responseNode","options":{}}},{"id":"set-node","name":"Build Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300],"parameters":{"jsCode":"const fs = require(\"fs\");\nconst inp = $input.first().json;\nconst body = inp.body !== undefined ? inp.body : inp;\nconst filePath = \"/data/portal/services.json\";\nconst data = JSON.parse(fs.readFileSync(filePath, \"utf8\"));\ndata.categories = body.categories;\nfs.writeFileSync(filePath, JSON.stringify(data, null, 2));\nreturn [{ json: { status: \"ok\", action: \"categories-updated\" } }];\n"}},{"id":"respond-node","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[650,300],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}}}],"connections":{"Webhook":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"78aad5da-9945-46e7-b592-5ec9b229e1cb","activeVersionId":"78aad5da-9945-46e7-b592-5ec9b229e1cb","versionCounter":30,"triggerCount":1,"shared":[{"updatedAt":"2026-03-21T16:45:03.344Z","createdAt":"2026-03-21T16:45:03.344Z","role":"workflow:owner","workflowId":"MdZMVjJ2zUPmDtyu","projectId":"9nfbed6kWhG9AlzC","project":{"updatedAt":"2026-03-14T17:20:00.372Z","createdAt":"2026-03-12T21:41:24.639Z","id":"9nfbed6kWhG9AlzC","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"22098edd-6722-4a81-acf5-8996c4d72365"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-21T22:05:28.323Z","createdAt":"2026-03-21T22:05:28.323Z","versionId":"78aad5da-9945-46e7-b592-5ec9b229e1cb","workflowId":"MdZMVjJ2zUPmDtyu","nodes":[{"id":"webhook-node","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"portal-update-categories-wh","parameters":{"path":"portal-update-categories","httpMethod":"POST","responseMode":"responseNode","options":{}}},{"id":"set-node","name":"Build Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300],"parameters":{"jsCode":"const fs = require(\"fs\");\nconst inp = $input.first().json;\nconst body = inp.body !== undefined ? inp.body : inp;\nconst filePath = \"/data/portal/services.json\";\nconst data = JSON.parse(fs.readFileSync(filePath, \"utf8\"));\ndata.categories = body.categories;\nfs.writeFileSync(filePath, JSON.stringify(data, null, 2));\nreturn [{ json: { status: \"ok\", action: \"categories-updated\" } }];\n"}},{"id":"respond-node","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[650,300],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}}}],"connections":{"Webhook":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"null null","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-21T22:05:28.353Z","id":190,"workflowId":"MdZMVjJ2zUPmDtyu","versionId":"78aad5da-9945-46e7-b592-5ec9b229e1cb","event":"deactivated","userId":"22098edd-6722-4a81-acf5-8996c4d72365"},{"createdAt":"2026-03-21T22:05:28.370Z","id":191,"workflowId":"MdZMVjJ2zUPmDtyu","versionId":"78aad5da-9945-46e7-b592-5ec9b229e1cb","event":"activated","userId":"22098edd-6722-4a81-acf5-8996c4d72365"},{"createdAt":"2026-03-21T22:05:28.416Z","id":192,"workflowId":"MdZMVjJ2zUPmDtyu","versionId":"78aad5da-9945-46e7-b592-5ec9b229e1cb","event":"deactivated","userId":"22098edd-6722-4a81-acf5-8996c4d72365"},{"createdAt":"2026-03-21T22:05:28.465Z","id":193,"workflowId":"MdZMVjJ2zUPmDtyu","versionId":"78aad5da-9945-46e7-b592-5ec9b229e1cb","event":"activated","userId":"22098edd-6722-4a81-acf5-8996c4d72365"}]}}