workflows/portal_update_categories.json
{"updatedAt":"2026-03-21T16:45:03.344Z","createdAt":"2026-03-21T16:45:03.344Z","id":"MdZMVjJ2zUPmDtyu","name":"Portal Update Categories","description":null,"active":true,"isArchived":false,"nodes":[{"id":"webhook-node","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"portal-update-categories-wh","parameters":{"path":"portal-update-categories","httpMethod":"POST","responseMode":"responseNode","options":{}}},{"id":"set-node","name":"Build Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[450,300],"parameters":{"options":{},"assignments":{"assignments":[{"id":"field1","name":"status","value":"ok","type":"string"},{"id":"field2","name":"action","value":"update-categories","type":"string"}]}}},{"id":"respond-node","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[650,300],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}}}],"connections":{"Webhook":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"dba65e30-93c5-4df8-a6ea-bc31374a3e5b","activeVersionId":"dba65e30-93c5-4df8-a6ea-bc31374a3e5b","versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2026-03-21T16:45:03.344Z","createdAt":"2026-03-21T16:45:03.344Z","role":"workflow:owner","workflowId":"MdZMVjJ2zUPmDtyu","projectId":"9nfbed6kWhG9AlzC","project":{"updatedAt":"2026-03-14T17:20:00.372Z","createdAt":"2026-03-12T21:41:24.639Z","id":"9nfbed6kWhG9AlzC","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"22098edd-6722-4a81-acf5-8996c4d72365"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-21T16:45:03.385Z","createdAt":"2026-03-21T16:45:03.385Z","versionId":"dba65e30-93c5-4df8-a6ea-bc31374a3e5b","workflowId":"MdZMVjJ2zUPmDtyu","nodes":[{"id":"webhook-node","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"portal-update-categories-wh","parameters":{"path":"portal-update-categories","httpMethod":"POST","responseMode":"responseNode","options":{}}},{"id":"set-node","name":"Build Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[450,300],"parameters":{"options":{},"assignments":{"assignments":[{"id":"field1","name":"status","value":"ok","type":"string"},{"id":"field2","name":"action","value":"update-categories","type":"string"}]}}},{"id":"respond-node","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[650,300],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}}}],"connections":{"Webhook":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"null null","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-21T16:45:07.194Z","id":146,"workflowId":"MdZMVjJ2zUPmDtyu","versionId":"dba65e30-93c5-4df8-a6ea-bc31374a3e5b","event":"activated","userId":"22098edd-6722-4a81-acf5-8996c4d72365"}]}}