workflows/sa_contact_lead_pipeline.json
{
  "updatedAt": "2026-03-17T00:30:11.805Z",
  "createdAt": "2026-03-12T21:58:41.147Z",
  "id": "Wyc4UIvCYgByrAwP",
  "name": "SA Contact Lead Pipeline",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "4bb7cacc-08c8-4b64-9437-35dc4aa8b3ea",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        0,
        300
      ],
      "parameters": {
        "path": "sa-lead-intake",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "typeVersion": 2
    },
    {
      "id": "f01042e0-13f3-442b-8f26-a643833341d5",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        200,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({status: 'received'}) }}"
      },
      "typeVersion": 1
    },
    {
      "id": "d385fd74-e898-4d44-af7c-29b3ea2991d4",
      "name": "Parse & Save Lead to PG",
      "type": "n8n-nodes-base.postgres",
      "position": [
        400,
        300
      ],
      "parameters": {
        "query": "INSERT INTO sa_leads (first_name, last_name, email, domain, service_area, message, status) VALUES ($1,$2,$3,$4,$5,$6,'pending_research') RETURNING id",
        "options": {
          "queryReplacement": "={{ [\n  $json.body.firstName,\n  $json.body.lastName,\n  $json.body.email,\n  $json.body.email.split('@')[1] || '',\n  $json.body.service,\n  $json.body.message\n] }}"
        },
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "sos8Np7Bc9oPABA7",
          "name": "SA PostgreSQL"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "be0d9c19-fb3d-4888-8e23-1617cd83cf6c",
      "name": "Company Research (LLM)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        600,
        200
      ],
      "parameters": {
        "url": "={{ $env.LITELLM_BASE_URL }}/v1/chat/completions",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "keypair",
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "cloud/smart"
            },
            {
              "name": "messages",
              "value": "={{ [{role:'system',content:\"You are a business intelligence researcher. Return ONLY a valid JSON object \\u2014 no preamble, no explanation, no markdown. Your entire response must be pure JSON starting with { and ending with }. Fields: summary (2-3 paragraphs), industry, size, funding_stage, key_products, recent_news.\"},{role:'user',content:'Research the company at domain: '+$('Webhook').item.json.body.email.split('@').pop()+'. Contact: '+$('Webhook').item.json.body.firstName+' '+$('Webhook').item.json.body.lastName+'. Service: '+$('Webhook').item.json.body.service+'. Message: '+$('Webhook').item.json.body.message+'. Focus on: business model, size, recent news, tech stack, leadership.'}] }}"
            },
            {
              "name": "response_format",
              "value": "={{ {type:'json_object'} }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.LITELLM_API_KEY }}"
            }
          ]
        }
      },
      "typeVersion": 4
    },
    {
      "id": "633f5793-97fe-4dcd-8c14-d7770a6ec64b",
      "name": "Save Research to PG",
      "type": "n8n-nodes-base.postgres",
      "position": [
        800,
        200
      ],
      "parameters": {
        "query": "UPDATE sa_leads SET company_research=$1, status='research_complete', research_completed_at=NOW() WHERE id=$2",
        "options": {
          "queryReplacement": "={{ (() => { const raw = $json.choices[0].message.content; const m = raw.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/); let s = m ? m[1].trim() : raw.trim(); try { s = JSON.stringify(JSON.parse(s)); } catch(e) { s = s.split('\\n').join('\\\\n').split('\\r').join('\\\\r').split('\\t').join('\\\\t'); } return [s, $('Parse & Save Lead to PG').item.json.id]; })() }}"
        },
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "sos8Np7Bc9oPABA7",
          "name": "SA PostgreSQL"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "c299d7ef-e9df-47d8-ae77-880ef9b751b8",
      "name": "AI Lead Analysis (LLM)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1000,
        300
      ],
      "parameters": {
        "url": "={{ $env.LITELLM_BASE_URL }}/v1/chat/completions",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "keypair",
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "cloud/smart"
            },
            {
              "name": "messages",
              "value": "={{ [{role:'system',content:\"You are a senior business advisor at Sovereign Advisory. Return ONLY a valid JSON object \\u2014 no preamble, no explanation, no markdown. Your entire response must be pure JSON starting with { and ending with }. Fields: summary (string, 2-3 paragraphs), approach (string, 1-2 paragraphs), conversation_starters (array of 3 strings), questions (array of 3 strings), scenarios (array of 3 strings).\"},{role:'user',content:'Lead:\\nName: '+$('Webhook').item.json.body.firstName+' '+$('Webhook').item.json.body.lastName+'\\nEmail: '+$('Webhook').item.json.body.email+'\\nDomain: '+$('Webhook').item.json.body.email.split('@').pop()+'\\nService: '+$('Webhook').item.json.body.service+'\\nMessage: '+$('Webhook').item.json.body.message+'\\n\\nCompany Research:\\n'+$('Company Research (LLM)').item.json.choices[0].message.content}] }}"
            },
            {
              "name": "response_format",
              "value": "={{ {type:'json_object'} }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.LITELLM_API_KEY }}"
            }
          ]
        }
      },
      "typeVersion": 4
    },
    {
      "id": "89b04254-a8a4-4773-8729-ab8a3cb88c38",
      "name": "Save Analysis to PG",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1200,
        300
      ],
      "parameters": {
        "query": "UPDATE sa_leads SET summary=$1, approach=$2, conversation_starters=$3, questions=$4, scenarios=$5, status='pending_draft' WHERE id=$6",
        "options": {
          "queryReplacement": "={{ (() => { const raw = $json.choices[0].message.content; const m = raw.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/); const jsonStr = (m ? m[1].trim() : raw.trim()); const a = JSON.parse(jsonStr); return [a.summary, a.approach, JSON.stringify(a.conversation_starters), JSON.stringify(a.questions), JSON.stringify(a.scenarios), $('Parse & Save Lead to PG').item.json.id]; })() }}"
        },
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "sos8Np7Bc9oPABA7",
          "name": "SA PostgreSQL"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "e1abb39b-e403-416f-a575-84f2a105352d",
      "name": "Generate Email Draft (LLM)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1400,
        300
      ],
      "parameters": {
        "url": "={{ $env.LITELLM_BASE_URL }}/v1/chat/completions",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "keypair",
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "cloud/smart"
            },
            {
              "name": "messages",
              "value": "={{ [{role:'system',content:\"You are writing on behalf of Robert Elder, CEO of Sovereign Advisory. Return ONLY a valid JSON object \\u2014 no preamble, no explanation, no markdown. Your entire response must be pure JSON starting with { and ending with }. Fields: subject (string), body_text (plain text email, no HTML).\"},{role:'user',content:'Prospect: '+$('Webhook').item.json.body.firstName+' '+$('Webhook').item.json.body.lastName+'\\nCompany: '+$('Webhook').item.json.body.email.split('@').pop()+'\\nMessage: '+$('Webhook').item.json.body.message+'\\n\\nStrategic analysis:\\n'+$('AI Lead Analysis (LLM)').item.json.choices[0].message.content}] }}"
            },
            {
              "name": "response_format",
              "value": "={{ {type:'json_object'} }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.LITELLM_API_KEY }}"
            }
          ]
        }
      },
      "typeVersion": 4
    },
    {
      "id": "bfd0f7b8-ef52-40a7-b19c-de647e539982",
      "name": "Save Draft to PG",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1600,
        300
      ],
      "parameters": {
        "query": "INSERT INTO sa_lead_drafts (lead_id, subject, body_text, is_current) VALUES ($1,$2,$3,TRUE) RETURNING id",
        "options": {
          "queryReplacement": "={{ (() => { const raw = $json.choices[0].message.content; const m = raw.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/); const jsonStr = (m ? m[1].trim() : raw.trim()); const d = JSON.parse(jsonStr); return [$('Parse & Save Lead to PG').item.json.id, d.subject, d.body_text]; })() }}"
        },
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "sos8Np7Bc9oPABA7",
          "name": "SA PostgreSQL"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "49991968-e12a-4913-b376-c0c67b539ad0",
      "name": "Create Notion Lead Page",
      "type": "n8n-nodes-base.notion",
      "position": [
        1800,
        200
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "={{ $env.NOTION_LEADS_DB_ID }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name",
              "type": "title",
              "titleValue": "={{ $('Webhook').item.json.body.firstName + ' ' + $('Webhook').item.json.body.lastName }}"
            },
            {
              "key": "Email",
              "type": "email",
              "emailValue": "={{ $('Webhook').item.json.body.email }}"
            },
            {
              "key": "Domain",
              "type": "url",
              "urlValue": "={{ 'https://' + $('Webhook').item.json.body.email.split('@').pop() }}"
            },
            {
              "key": "Status",
              "type": "select",
              "selectValue": "Pending Review"
            },
            {
              "key": "Lead ID",
              "type": "richText",
              "textContent": "={{ $('Parse & Save Lead to PG').item.json.id }}"
            }
          ]
        }
      },
      "credentials": {
        "notionApi": {
          "id": "2sSLfYtu6ueKRh4A",
          "name": "SA Notion"
        }
      },
      "typeVersion": 2,
      "onError": "continueRegularOutput"
    },
    {
      "id": "288dfbbc-5c18-469f-b81d-e230ba4cfa5e",
      "name": "Save Notion ID to PG",
      "type": "n8n-nodes-base.postgres",
      "position": [
        2000,
        200
      ],
      "parameters": {
        "query": "UPDATE sa_leads SET notion_page_id=$1 WHERE id=$2",
        "options": {
          "queryReplacement": "={{ [$json.id, $('Parse & Save Lead to PG').item.json.id] }}"
        },
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "sos8Np7Bc9oPABA7",
          "name": "SA PostgreSQL"
        }
      },
      "typeVersion": 2,
      "onError": "continueRegularOutput"
    },
    {
      "id": "b5ff2b5f-15a7-4cf8-b198-b82d0f87395a",
      "name": "Create Review Token",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1800,
        400
      ],
      "parameters": {
        "query": "INSERT INTO sa_review_tokens (lead_id, n8n_resume_url) VALUES ($1, $2) RETURNING token",
        "options": {
          "queryReplacement": "={{ [\n  $('Parse & Save Lead to PG').item.json.id,\n  $execution.resumeUrl\n] }}"
        },
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "sos8Np7Bc9oPABA7",
          "name": "SA PostgreSQL"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "4d615579-0896-4553-969d-525d61b2d3a6",
      "name": "Set Status: Pending Review",
      "type": "n8n-nodes-base.postgres",
      "position": [
        2000,
        400
      ],
      "parameters": {
        "query": "UPDATE sa_leads SET status='pending_review', draft_generated_at=NOW(), first_notified_at=NOW() WHERE id=$1",
        "options": {
          "queryReplacement": "={{ [$('Parse & Save Lead to PG').item.json.id] }}"
        },
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "sos8Np7Bc9oPABA7",
          "name": "SA PostgreSQL"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "86c911a9-194e-4c04-a90c-91d94ccafedb",
      "name": "Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        2200,
        100
      ],
      "parameters": {
        "options": {},
        "subject": "={{ 'New SA Lead: ' + $('Webhook').item.json.body.firstName + ' ' + $('Webhook').item.json.body.lastName + ' \u2014 ' + $('Webhook').item.json.body.service }}",
        "toEmail": "={{ $env.NOTIFY_EMAIL }}",
        "fromEmail": "relder@sovereignadvisory.ai",
        "emailFormat": "html",
        "html": "=<p>New lead ready for review.</p><p><b>Name:</b> {{ $('Webhook').item.json.body.firstName }} {{ $('Webhook').item.json.body.lastName }}<br><b>Email:</b> {{ $('Webhook').item.json.body.email }}<br><b>Service:</b> {{ $('Webhook').item.json.body.service }}</p><p><a href='{{ $env.LEAD_REVIEW_BASE_URL + '/' + $('Create Review Token').item.json.token }}'>Review Lead</a></p>"
      },
      "credentials": {
        "smtp": {
          "id": "Mlb3R0OkWXvE3pbV",
          "name": "SA Resend SMTP"
        }
      },
      "typeVersion": 2,
      "onError": "continueRegularOutput"
    },
    {
      "id": "08d4d4f8-077a-4f4e-b86f-9d1de9f27e25",
      "name": "SMS (Twilio)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2200,
        250
      ],
      "parameters": {
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
        "method": "POST",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "={{ $env.TWILIO_SMS_FROM }}"
            },
            {
              "name": "To",
              "value": "={{ $env.NOTIFY_SMS_TO }}"
            },
            {
              "name": "Body",
              "value": "={{ 'New SA Lead: ' + $('Webhook').item.json.body.firstName + ' ' + $('Webhook').item.json.body.lastName + ' (' + $('Webhook').item.json.body.service + '). Review: ' + $env.LEAD_REVIEW_BASE_URL + '/' + $('Create Review Token').item.json.token }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpBasicAuth": {
          "id": "saElGHc6VYC1QIaS",
          "name": "SA Twilio"
        }
      },
      "typeVersion": 4,
      "onError": "continueRegularOutput"
    },
    {
      "id": "577988fb-eb91-467d-ab3c-40ac7f738527",
      "name": "Telegram Notification",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2200,
        400
      ],
      "parameters": {
        "text": "={{ '\ud83d\udd14 *New SA Lead*\\n\\n*Prospect:* ' + $('Webhook').item.json.body.firstName + ' ' + $('Webhook').item.json.body.lastName + '\\n*Email:* ' + $('Webhook').item.json.body.email + '\\n*Service:* ' + $('Webhook').item.json.body.service + '\\n\\n\ud83d\udd17 Review: ' + $env.LEAD_REVIEW_BASE_URL + '/' + $('Create Review Token').item.json.token }}",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "xenO3FMYF5CSJt9m",
          "name": "SA Telegram Bot"
        }
      },
      "typeVersion": 1,
      "onError": "continueRegularOutput"
    },
    {
      "id": "a9a70972-abe9-4064-9af7-45d8a0312e44",
      "name": "WhatsApp (Twilio)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2200,
        550
      ],
      "parameters": {
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
        "method": "POST",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "authentication": "genericCredentialType",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "={{ $env.TWILIO_WHATSAPP_FROM }}"
            },
            {
              "name": "To",
              "value": "={{ $env.WHATSAPP_NOTIFY_TO }}"
            },
            {
              "name": "Body",
              "value": "={{ 'New SA Lead: ' + $('Webhook').item.json.body.firstName + ' ' + $('Webhook').item.json.body.lastName + ' (' + $('Webhook').item.json.body.service + '). Review: ' + $env.LEAD_REVIEW_BASE_URL + '/' + $('Create Review Token').item.json.token }}"
            }
          ]
        },
        "genericAuthType": "httpBasicAuth"
      },
      "credentials": {
        "httpBasicAuth": {
          "id": "saElGHc6VYC1QIaS",
          "name": "SA Twilio"
        }
      },
      "typeVersion": 4,
      "onError": "continueRegularOutput"
    },
    {
      "id": "6fed4626-5396-41bb-890b-f3e5f574fa92",
      "name": "Wait for Review Decision",
      "type": "n8n-nodes-base.wait",
      "position": [
        2400,
        350
      ],
      "parameters": {
        "resume": "webhook",
        "options": {
          "httpMethod": "POST"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "5ff53fb0-b8ca-427d-9ae6-4c0282c6db17",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "position": [
        2600,
        350
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": ".query.action",
                    "rightValue": "approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": ".query.action",
                    "rightValue": "regenerate",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": ".query.action",
                    "rightValue": "queue",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": ".query.action",
                    "rightValue": "dnfu",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 3
    },
    {
      "id": "378c6d1b-b4a7-48ee-8333-4eb029efef37",
      "name": "Send Outreach Email (SMTP)",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        2800,
        150
      ],
      "parameters": {
        "options": {},
        "subject": "={{ (() => { const raw = $('Generate Email Draft (LLM)').item.json.choices[0].message.content; const m = raw.match(/```[^`]*```/); const s = m ? m[0].replace(/```[^\\n]*\\n/, '').replace(/```$/, '').trim() : raw.trim(); return JSON.parse(s).subject; })() }}",
        "toEmail": "={{ $('Webhook').item.json.body.email }}",
        "fromEmail": "Robert Elder <relder@sovereignadvisory.ai>",
        "emailFormat": "text",
        "text": "={{ (() => { const raw = $('Generate Email Draft (LLM)').item.json.choices[0].message.content; const m = raw.match(/```[^`]*```/); const s = m ? m[0].replace(/```[^\\n]*\\n/, '').replace(/```$/, '').trim() : raw.trim(); return JSON.parse(s).body_text; })() }}"
      },
      "credentials": {
        "smtp": {
          "id": "Mlb3R0OkWXvE3pbV",
          "name": "SA Resend SMTP"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "266e0368-c583-4ec7-83bc-15d17e0f6e7a",
      "name": "Mark Lead Sent",
      "type": "n8n-nodes-base.postgres",
      "position": [
        3000,
        150
      ],
      "parameters": {
        "query": "UPDATE sa_leads SET status='sent', sent_at=NOW() WHERE id=$1",
        "options": {
          "queryReplacement": "={{ [$('Parse & Save Lead to PG').item.json.id] }}"
        },
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "sos8Np7Bc9oPABA7",
          "name": "SA PostgreSQL"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "184e2bb5-f913-4a7c-bff7-5842f4471bb8",
      "name": "Re-run AI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2800,
        350
      ],
      "parameters": {
        "url": "={{ $env.LITELLM_BASE_URL }}/v1/chat/completions",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "keypair",
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "cloud/smart"
            },
            {
              "name": "messages",
              "value": "={{ [{role:'system',content:\"You are writing on behalf of Robert Elder, CEO of Sovereign Advisory. Return ONLY a valid JSON object \u2014 no preamble, no explanation, no markdown. Your entire response must be pure JSON starting with { and ending with }. Fields: subject (string), body_text (plain text email, no HTML).\"},{role:'user',content:'Prospect: '+$('Webhook').item.json.body.firstName+' '+$('Webhook').item.json.body.lastName+'\\nCompany: '+$('Webhook').item.json.body.email.split('@').pop()+'\\nMessage: '+$('Webhook').item.json.body.message+'\\n\\nStrategic analysis:\\n'+$('AI Lead Analysis (LLM)').item.json.choices[0].message.content+'\\n\\nPrevious draft:\\n'+$('Generate Email Draft (LLM)').item.json.choices[0].message.content+'\\n\\nReviewer feedback (you MUST incorporate this):\\n'+($json.query.notes||'(none provided)')+'\\n\\nWrite a revised outreach email that fully addresses the reviewer feedback above.'}] }}"
            },
            {
              "name": "response_format",
              "value": "={{ {type:'json_object'} }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.LITELLM_API_KEY }}"
            }
          ]
        }
      },
      "typeVersion": 4
    },
    {
      "id": "19bb1afd-f848-4a12-ab6f-db7badebf497",
      "name": "Save New Draft Version",
      "type": "n8n-nodes-base.postgres",
      "position": [
        3000,
        350
      ],
      "parameters": {
        "query": "UPDATE sa_lead_drafts SET is_current=FALSE WHERE lead_id=$1;\nINSERT INTO sa_lead_drafts (lead_id, version, subject, body_text, is_current) SELECT $1, COALESCE(MAX(version),0)+1, $2, $3, TRUE FROM sa_lead_drafts WHERE lead_id=$1;",
        "options": {
          "queryReplacement": "={{ (() => { const raw = $('Re-run AI Analysis').item.json.choices[0].message.content; const m = raw.match(/```[^`]*```/); const s = m ? m[0].replace(/```[^\\n]*\\n/, '').replace(/```$/, '').trim() : raw.trim(); const d = JSON.parse(s); return [$('Parse & Save Lead to PG').item.json.id, d.subject, d.body_text]; })() }}"
        },
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "sos8Np7Bc9oPABA7",
          "name": "SA PostgreSQL"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "4c535cdd-6116-4173-bdbb-d15587743e9e",
      "name": "Format Notification Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2100,
        300
      ],
      "parameters": {
        "jsCode": "function safeParseJSON(content) {\n  if (!content) return {};\n  var cleaned = content.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\n  try { return JSON.parse(cleaned); } catch(e) { return { _raw: String(content).substring(0, 200) }; }\n}\nvar webhook = $('Webhook').item.json.body || {};\nvar token = $('Create Review Token').item.json.token;\nvar baseUrl = $env.LEAD_REVIEW_BASE_URL;\nvar researchContent = $('Company Research (LLM)').item.json.choices[0].message.content;\nvar analysisContent = $('AI Lead Analysis (LLM)').item.json.choices[0].message.content;\nvar draftContent = $('Generate Email Draft (LLM)').item.json.choices[0].message.content;\nvar research = safeParseJSON(researchContent);\nvar analysis = safeParseJSON(analysisContent);\nvar draft = safeParseJSON(draftContent);\nvar convStarters = analysis.conversation_starters || [];\nvar questions = analysis.questions || [];\nreturn [{\n  json: {\n    first_name: webhook.firstName || '',\n    last_name: webhook.lastName || '',\n    email: webhook.email || '',\n    company_name: webhook.company_name || 'N/A',\n    service_area: webhook.service || '',\n    phone: webhook.phone || 'N/A',\n    review_url: baseUrl + '/' + token,\n    research_summary: research.summary || 'N/A',\n    research_industry: research.industry || 'N/A',\n    research_size: research.size || 'N/A',\n    research_funding: research.funding_stage || 'N/A',\n    research_products: research.key_products || 'N/A',\n    research_news: research.recent_news || 'N/A',\n    analysis_summary: analysis.summary || 'N/A',\n    analysis_approach: analysis.approach || 'N/A',\n    analysis_starters: convStarters.slice(0,3).join(' | ') || 'N/A',\n    analysis_questions: questions.slice(0,3).join(' | ') || 'N/A',\n    draft_subject: draft.subject || 'New Lead',\n    draft_body: draft.body_text || draft.body || 'N/A'\n  }\n}];"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond 200 OK": {
      "main": [
        [
          {
            "node": "Parse & Save Lead to PG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Send Outreach Email (SMTP)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Re-run AI Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    },
    "Save Draft to PG": {
      "main": [
        [
          {
            "node": "Create Notion Lead Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Review Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-run AI Analysis": {
      "main": [
        [
          {
            "node": "Save New Draft Version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Review Token": {
      "main": [
        [
          {
            "node": "Set Status: Pending Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Analysis to PG": {
      "main": [
        [
          {
            "node": "Generate Email Draft (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Research to PG": {
      "main": [
        [
          {
            "node": "AI Lead Analysis (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Lead Analysis (LLM)": {
      "main": [
        [
          {
            "node": "Save Analysis to PG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Research (LLM)": {
      "main": [
        [
          {
            "node": "Save Research to PG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Notion Lead Page": {
      "main": [
        [
          {
            "node": "Save Notion ID to PG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Save Lead to PG": {
      "main": [
        [
          {
            "node": "Company Research (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Review Decision": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Email Draft (LLM)": {
      "main": [
        [
          {
            "node": "Save Draft to PG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Outreach Email (SMTP)": {
      "main": [
        [
          {
            "node": "Mark Lead Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status: Pending Review": {
      "main": [
        [
          {
            "node": "Format Notification Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Notification Data": {
      "main": [
        [
          {
            "node": "Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Notification": {
      "main": [
        [
          {
            "node": "SMS (Twilio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS (Twilio)": {
      "main": [
        [
          {
            "node": "Telegram Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Notification": {
      "main": [
        [
          {
            "node": "WhatsApp (Twilio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp (Twilio)": {
      "main": [
        [
          {
            "node": "Wait for Review Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "instanceId": ""
  },
  "pinData": null,
  "versionId": "1b3d5bf4-b541-40e4-8314-3b79a78a9215",
  "activeVersionId": "1b3d5bf4-b541-40e4-8314-3b79a78a9215",
  "versionCounter": 191,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-12T21:58:41.147Z",
      "createdAt": "2026-03-12T21:58:41.147Z",
      "role": "workflow:owner",
      "workflowId": "Wyc4UIvCYgByrAwP",
      "projectId": "9nfbed6kWhG9AlzC",
      "project": {
        "updatedAt": "2026-03-14T17:20:00.372Z",
        "createdAt": "2026-03-12T21:41:24.639Z",
        "id": "9nfbed6kWhG9AlzC",
        "name": "Unnamed Project",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "22098edd-6722-4a81-acf5-8996c4d72365"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-17T00:29:27.169Z",
    "createdAt": "2026-03-17T00:29:27.169Z",
    "versionId": "1b3d5bf4-b541-40e4-8314-3b79a78a9215",
    "workflowId": "Wyc4UIvCYgByrAwP",
    "nodes": [
      {
        "id": "4bb7cacc-08c8-4b64-9437-35dc4aa8b3ea",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "position": [
          0,
          300
        ],
        "parameters": {
          "path": "sa-lead-intake",
          "options": {},
          "httpMethod": "POST",
          "responseMode": "responseNode"
        },
        "typeVersion": 2
      },
      {
        "id": "f01042e0-13f3-442b-8f26-a643833341d5",
        "name": "Respond 200 OK",
        "type": "n8n-nodes-base.respondToWebhook",
        "position": [
          200,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({status: 'received'}) }}"
        },
        "typeVersion": 1
      },
      {
        "id": "d385fd74-e898-4d44-af7c-29b3ea2991d4",
        "name": "Parse & Save Lead to PG",
        "type": "n8n-nodes-base.postgres",
        "position": [
          400,
          300
        ],
        "parameters": {
          "query": "INSERT INTO sa_leads (first_name, last_name, email, domain, service_area, message, status) VALUES ($1,$2,$3,$4,$5,$6,'pending_research') RETURNING id",
          "options": {
            "queryReplacement": "={{ [\n  $json.body.firstName,\n  $json.body.lastName,\n  $json.body.email,\n  $json.body.email.split('@')[1] || '',\n  $json.body.service,\n  $json.body.message\n] }}"
          },
          "operation": "executeQuery"
        },
        "credentials": {
          "postgres": {
            "id": "sos8Np7Bc9oPABA7",
            "name": "SA PostgreSQL"
          }
        },
        "typeVersion": 2
      },
      {
        "id": "be0d9c19-fb3d-4888-8e23-1617cd83cf6c",
        "name": "Company Research (LLM)",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          600,
          200
        ],
        "parameters": {
          "url": "={{ $env.LITELLM_BASE_URL }}/v1/chat/completions",
          "method": "POST",
          "sendBody": true,
          "specifyBody": "keypair",
          "contentType": "json",
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "cloud/smart"
              },
              {
                "name": "messages",
                "value": "={{ [{role:'system',content:\"You are a business intelligence researcher. Return ONLY a valid JSON object \\u2014 no preamble, no explanation, no markdown. Your entire response must be pure JSON starting with { and ending with }. Fields: summary (2-3 paragraphs), industry, size, funding_stage, key_products, recent_news.\"},{role:'user',content:'Research the company at domain: '+$('Webhook').item.json.body.email.split('@').pop()+'. Contact: '+$('Webhook').item.json.body.firstName+' '+$('Webhook').item.json.body.lastName+'. Service: '+$('Webhook').item.json.body.service+'. Message: '+$('Webhook').item.json.body.message+'. Focus on: business model, size, recent news, tech stack, leadership.'}] }}"
              },
              {
                "name": "response_format",
                "value": "={{ {type:'json_object'} }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.LITELLM_API_KEY }}"
              }
            ]
          }
        },
        "typeVersion": 4
      },
      {
        "id": "633f5793-97fe-4dcd-8c14-d7770a6ec64b",
        "name": "Save Research to PG",
        "type": "n8n-nodes-base.postgres",
        "position": [
          800,
          200
        ],
        "parameters": {
          "query": "UPDATE sa_leads SET company_research=$1, status='research_complete', research_completed_at=NOW() WHERE id=$2",
          "options": {
            "queryReplacement": "={{ (() => { const raw = $json.choices[0].message.content; const m = raw.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/); let s = m ? m[1].trim() : raw.trim(); try { s = JSON.stringify(JSON.parse(s)); } catch(e) { s = s.split('\\n').join('\\\\n').split('\\r').join('\\\\r').split('\\t').join('\\\\t'); } return [s, $('Parse & Save Lead to PG').item.json.id]; })() }}"
          },
          "operation": "executeQuery"
        },
        "credentials": {
          "postgres": {
            "id": "sos8Np7Bc9oPABA7",
            "name": "SA PostgreSQL"
          }
        },
        "typeVersion": 2
      },
      {
        "id": "c299d7ef-e9df-47d8-ae77-880ef9b751b8",
        "name": "AI Lead Analysis (LLM)",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          1000,
          300
        ],
        "parameters": {
          "url": "={{ $env.LITELLM_BASE_URL }}/v1/chat/completions",
          "method": "POST",
          "sendBody": true,
          "specifyBody": "keypair",
          "contentType": "json",
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "cloud/smart"
              },
              {
                "name": "messages",
                "value": "={{ [{role:'system',content:\"You are a senior business advisor at Sovereign Advisory. Return ONLY a valid JSON object \\u2014 no preamble, no explanation, no markdown. Your entire response must be pure JSON starting with { and ending with }. Fields: summary (string, 2-3 paragraphs), approach (string, 1-2 paragraphs), conversation_starters (array of 3 strings), questions (array of 3 strings), scenarios (array of 3 strings).\"},{role:'user',content:'Lead:\\nName: '+$('Webhook').item.json.body.firstName+' '+$('Webhook').item.json.body.lastName+'\\nEmail: '+$('Webhook').item.json.body.email+'\\nDomain: '+$('Webhook').item.json.body.email.split('@').pop()+'\\nService: '+$('Webhook').item.json.body.service+'\\nMessage: '+$('Webhook').item.json.body.message+'\\n\\nCompany Research:\\n'+$('Company Research (LLM)').item.json.choices[0].message.content}] }}"
              },
              {
                "name": "response_format",
                "value": "={{ {type:'json_object'} }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.LITELLM_API_KEY }}"
              }
            ]
          }
        },
        "typeVersion": 4
      },
      {
        "id": "89b04254-a8a4-4773-8729-ab8a3cb88c38",
        "name": "Save Analysis to PG",
        "type": "n8n-nodes-base.postgres",
        "position": [
          1200,
          300
        ],
        "parameters": {
          "query": "UPDATE sa_leads SET summary=$1, approach=$2, conversation_starters=$3, questions=$4, scenarios=$5, status='pending_draft' WHERE id=$6",
          "options": {
            "queryReplacement": "={{ (() => { const raw = $json.choices[0].message.content; const m = raw.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/); const jsonStr = (m ? m[1].trim() : raw.trim()); const a = JSON.parse(jsonStr); return [a.summary, a.approach, JSON.stringify(a.conversation_starters), JSON.stringify(a.questions), JSON.stringify(a.scenarios), $('Parse & Save Lead to PG').item.json.id]; })() }}"
          },
          "operation": "executeQuery"
        },
        "credentials": {
          "postgres": {
            "id": "sos8Np7Bc9oPABA7",
            "name": "SA PostgreSQL"
          }
        },
        "typeVersion": 2
      },
      {
        "id": "e1abb39b-e403-416f-a575-84f2a105352d",
        "name": "Generate Email Draft (LLM)",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          1400,
          300
        ],
        "parameters": {
          "url": "={{ $env.LITELLM_BASE_URL }}/v1/chat/completions",
          "method": "POST",
          "sendBody": true,
          "specifyBody": "keypair",
          "contentType": "json",
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "cloud/smart"
              },
              {
                "name": "messages",
                "value": "={{ [{role:'system',content:\"You are writing on behalf of Robert Elder, CEO of Sovereign Advisory. Return ONLY a valid JSON object \\u2014 no preamble, no explanation, no markdown. Your entire response must be pure JSON starting with { and ending with }. Fields: subject (string), body_text (plain text email, no HTML).\"},{role:'user',content:'Prospect: '+$('Webhook').item.json.body.firstName+' '+$('Webhook').item.json.body.lastName+'\\nCompany: '+$('Webhook').item.json.body.email.split('@').pop()+'\\nMessage: '+$('Webhook').item.json.body.message+'\\n\\nStrategic analysis:\\n'+$('AI Lead Analysis (LLM)').item.json.choices[0].message.content}] }}"
              },
              {
                "name": "response_format",
                "value": "={{ {type:'json_object'} }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.LITELLM_API_KEY }}"
              }
            ]
          }
        },
        "typeVersion": 4
      },
      {
        "id": "bfd0f7b8-ef52-40a7-b19c-de647e539982",
        "name": "Save Draft to PG",
        "type": "n8n-nodes-base.postgres",
        "position": [
          1600,
          300
        ],
        "parameters": {
          "query": "INSERT INTO sa_lead_drafts (lead_id, subject, body_text, is_current) VALUES ($1,$2,$3,TRUE) RETURNING id",
          "options": {
            "queryReplacement": "={{ (() => { const raw = $json.choices[0].message.content; const m = raw.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/); const jsonStr = (m ? m[1].trim() : raw.trim()); const d = JSON.parse(jsonStr); return [$('Parse & Save Lead to PG').item.json.id, d.subject, d.body_text]; })() }}"
          },
          "operation": "executeQuery"
        },
        "credentials": {
          "postgres": {
            "id": "sos8Np7Bc9oPABA7",
            "name": "SA PostgreSQL"
          }
        },
        "typeVersion": 2
      },
      {
        "id": "49991968-e12a-4913-b376-c0c67b539ad0",
        "name": "Create Notion Lead Page",
        "type": "n8n-nodes-base.notion",
        "position": [
          1800,
          200
        ],
        "parameters": {
          "resource": "databasePage",
          "operation": "create",
          "databaseId": "={{ $env.NOTION_LEADS_DB_ID }}",
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "Name",
                "type": "title",
                "titleValue": "={{ $('Webhook').item.json.body.firstName + ' ' + $('Webhook').item.json.body.lastName }}"
              },
              {
                "key": "Email",
                "type": "email",
                "emailValue": "={{ $('Webhook').item.json.body.email }}"
              },
              {
                "key": "Domain",
                "type": "url",
                "urlValue": "={{ 'https://' + $('Webhook').item.json.body.email.split('@').pop() }}"
              },
              {
                "key": "Status",
                "type": "select",
                "selectValue": "Pending Review"
              },
              {
                "key": "Lead ID",
                "type": "richText",
                "textContent": "={{ $('Parse & Save Lead to PG').item.json.id }}"
              }
            ]
          }
        },
        "credentials": {
          "notionApi": {
            "id": "2sSLfYtu6ueKRh4A",
            "name": "SA Notion"
          }
        },
        "typeVersion": 2,
        "onError": "continueRegularOutput"
      },
      {
        "id": "288dfbbc-5c18-469f-b81d-e230ba4cfa5e",
        "name": "Save Notion ID to PG",
        "type": "n8n-nodes-base.postgres",
        "position": [
          2000,
          200
        ],
        "parameters": {
          "query": "UPDATE sa_leads SET notion_page_id=$1 WHERE id=$2",
          "options": {
            "queryReplacement": "={{ [$json.id, $('Parse & Save Lead to PG').item.json.id] }}"
          },
          "operation": "executeQuery"
        },
        "credentials": {
          "postgres": {
            "id": "sos8Np7Bc9oPABA7",
            "name": "SA PostgreSQL"
          }
        },
        "typeVersion": 2,
        "onError": "continueRegularOutput"
      },
      {
        "id": "b5ff2b5f-15a7-4cf8-b198-b82d0f87395a",
        "name": "Create Review Token",
        "type": "n8n-nodes-base.postgres",
        "position": [
          1800,
          400
        ],
        "parameters": {
          "query": "INSERT INTO sa_review_tokens (lead_id, n8n_resume_url) VALUES ($1, $2) RETURNING token",
          "options": {
            "queryReplacement": "={{ [\n  $('Parse & Save Lead to PG').item.json.id,\n  $execution.resumeUrl\n] }}"
          },
          "operation": "executeQuery"
        },
        "credentials": {
          "postgres": {
            "id": "sos8Np7Bc9oPABA7",
            "name": "SA PostgreSQL"
          }
        },
        "typeVersion": 2
      },
      {
        "id": "4d615579-0896-4553-969d-525d61b2d3a6",
        "name": "Set Status: Pending Review",
        "type": "n8n-nodes-base.postgres",
        "position": [
          2000,
          400
        ],
        "parameters": {
          "query": "UPDATE sa_leads SET status='pending_review', draft_generated_at=NOW(), first_notified_at=NOW() WHERE id=$1",
          "options": {
            "queryReplacement": "={{ [$('Parse & Save Lead to PG').item.json.id] }}"
          },
          "operation": "executeQuery"
        },
        "credentials": {
          "postgres": {
            "id": "sos8Np7Bc9oPABA7",
            "name": "SA PostgreSQL"
          }
        },
        "typeVersion": 2
      },
      {
        "id": "86c911a9-194e-4c04-a90c-91d94ccafedb",
        "name": "Email Notification",
        "type": "n8n-nodes-base.emailSend",
        "position": [
          2200,
          100
        ],
        "parameters": {
          "options": {},
          "subject": "={{ 'New SA Lead: ' + $('Webhook').item.json.body.firstName + ' ' + $('Webhook').item.json.body.lastName + ' \u2014 ' + $('Webhook').item.json.body.service }}",
          "toEmail": "={{ $env.NOTIFY_EMAIL }}",
          "fromEmail": "relder@sovereignadvisory.ai",
          "emailFormat": "html",
          "html": "=<p>New lead ready for review.</p><p><b>Name:</b> {{ $('Webhook').item.json.body.firstName }} {{ $('Webhook').item.json.body.lastName }}<br><b>Email:</b> {{ $('Webhook').item.json.body.email }}<br><b>Service:</b> {{ $('Webhook').item.json.body.service }}</p><p><a href='{{ $env.LEAD_REVIEW_BASE_URL + '/' + $('Create Review Token').item.json.token }}'>Review Lead</a></p>"
        },
        "credentials": {
          "smtp": {
            "id": "Mlb3R0OkWXvE3pbV",
            "name": "SA Resend SMTP"
          }
        },
        "typeVersion": 2,
        "onError": "continueRegularOutput"
      },
      {
        "id": "08d4d4f8-077a-4f4e-b86f-9d1de9f27e25",
        "name": "SMS (Twilio)",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          2200,
          250
        ],
        "parameters": {
          "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
          "method": "POST",
          "sendBody": true,
          "contentType": "form-urlencoded",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "bodyParameters": {
            "parameters": [
              {
                "name": "From",
                "value": "={{ $env.TWILIO_SMS_FROM }}"
              },
              {
                "name": "To",
                "value": "={{ $env.NOTIFY_SMS_TO }}"
              },
              {
                "name": "Body",
                "value": "={{ 'New SA Lead: ' + $('Webhook').item.json.body.firstName + ' ' + $('Webhook').item.json.body.lastName + ' (' + $('Webhook').item.json.body.service + '). Review: ' + $env.LEAD_REVIEW_BASE_URL + '/' + $('Create Review Token').item.json.token }}"
              }
            ]
          },
          "options": {}
        },
        "credentials": {
          "httpBasicAuth": {
            "id": "saElGHc6VYC1QIaS",
            "name": "SA Twilio"
          }
        },
        "typeVersion": 4,
        "onError": "continueRegularOutput"
      },
      {
        "id": "577988fb-eb91-467d-ab3c-40ac7f738527",
        "name": "Telegram Notification",
        "type": "n8n-nodes-base.telegram",
        "position": [
          2200,
          400
        ],
        "parameters": {
          "text": "={{ '\ud83d\udd14 *New SA Lead*\\n\\n*Prospect:* ' + $('Webhook').item.json.body.firstName + ' ' + $('Webhook').item.json.body.lastName + '\\n*Email:* ' + $('Webhook').item.json.body.email + '\\n*Service:* ' + $('Webhook').item.json.body.service + '\\n\\n\ud83d\udd17 Review: ' + $env.LEAD_REVIEW_BASE_URL + '/' + $('Create Review Token').item.json.token }}",
          "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
          "additionalFields": {
            "parse_mode": "Markdown"
          }
        },
        "credentials": {
          "telegramApi": {
            "id": "xenO3FMYF5CSJt9m",
            "name": "SA Telegram Bot"
          }
        },
        "typeVersion": 1,
        "onError": "continueRegularOutput"
      },
      {
        "id": "a9a70972-abe9-4064-9af7-45d8a0312e44",
        "name": "WhatsApp (Twilio)",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          2200,
          550
        ],
        "parameters": {
          "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
          "method": "POST",
          "sendBody": true,
          "contentType": "form-urlencoded",
          "authentication": "genericCredentialType",
          "bodyParameters": {
            "parameters": [
              {
                "name": "From",
                "value": "={{ $env.TWILIO_WHATSAPP_FROM }}"
              },
              {
                "name": "To",
                "value": "={{ $env.WHATSAPP_NOTIFY_TO }}"
              },
              {
                "name": "Body",
                "value": "={{ 'New SA Lead: ' + $('Webhook').item.json.body.firstName + ' ' + $('Webhook').item.json.body.lastName + ' (' + $('Webhook').item.json.body.service + '). Review: ' + $env.LEAD_REVIEW_BASE_URL + '/' + $('Create Review Token').item.json.token }}"
              }
            ]
          },
          "genericAuthType": "httpBasicAuth"
        },
        "credentials": {
          "httpBasicAuth": {
            "id": "saElGHc6VYC1QIaS",
            "name": "SA Twilio"
          }
        },
        "typeVersion": 4,
        "onError": "continueRegularOutput"
      },
      {
        "id": "6fed4626-5396-41bb-890b-f3e5f574fa92",
        "name": "Wait for Review Decision",
        "type": "n8n-nodes-base.wait",
        "position": [
          2400,
          350
        ],
        "parameters": {
          "resume": "webhook",
          "options": {
            "httpMethod": "POST"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "5ff53fb0-b8ca-427d-9ae6-4c0282c6db17",
        "name": "Route by Action",
        "type": "n8n-nodes-base.switch",
        "position": [
          2600,
          350
        ],
        "parameters": {
          "mode": "rules",
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": ".query.action",
                      "rightValue": "approve",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": false
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": ".query.action",
                      "rightValue": "regenerate",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": false
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": ".query.action",
                      "rightValue": "queue",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": false
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": ".query.action",
                      "rightValue": "dnfu",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": false
              }
            ]
          },
          "options": {}
        },
        "typeVersion": 3
      },
      {
        "id": "378c6d1b-b4a7-48ee-8333-4eb029efef37",
        "name": "Send Outreach Email (SMTP)",
        "type": "n8n-nodes-base.emailSend",
        "position": [
          2800,
          150
        ],
        "parameters": {
          "options": {},
          "subject": "={{ (() => { const raw = $('Generate Email Draft (LLM)').item.json.choices[0].message.content; const m = raw.match(/```[^`]*```/); const s = m ? m[0].replace(/```[^\\n]*\\n/, '').replace(/```$/, '').trim() : raw.trim(); return JSON.parse(s).subject; })() }}",
          "toEmail": "={{ $('Webhook').item.json.body.email }}",
          "fromEmail": "Robert Elder <relder@sovereignadvisory.ai>",
          "emailFormat": "text",
          "text": "={{ (() => { const raw = $('Generate Email Draft (LLM)').item.json.choices[0].message.content; const m = raw.match(/```[^`]*```/); const s = m ? m[0].replace(/```[^\\n]*\\n/, '').replace(/```$/, '').trim() : raw.trim(); return JSON.parse(s).body_text; })() }}"
        },
        "credentials": {
          "smtp": {
            "id": "Mlb3R0OkWXvE3pbV",
            "name": "SA Resend SMTP"
          }
        },
        "typeVersion": 2
      },
      {
        "id": "266e0368-c583-4ec7-83bc-15d17e0f6e7a",
        "name": "Mark Lead Sent",
        "type": "n8n-nodes-base.postgres",
        "position": [
          3000,
          150
        ],
        "parameters": {
          "query": "UPDATE sa_leads SET status='sent', sent_at=NOW() WHERE id=$1",
          "options": {
            "queryReplacement": "={{ [$('Parse & Save Lead to PG').item.json.id] }}"
          },
          "operation": "executeQuery"
        },
        "credentials": {
          "postgres": {
            "id": "sos8Np7Bc9oPABA7",
            "name": "SA PostgreSQL"
          }
        },
        "typeVersion": 2
      },
      {
        "id": "184e2bb5-f913-4a7c-bff7-5842f4471bb8",
        "name": "Re-run AI Analysis",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          2800,
          350
        ],
        "parameters": {
          "url": "={{ $env.LITELLM_BASE_URL }}/v1/chat/completions",
          "method": "POST",
          "sendBody": true,
          "specifyBody": "keypair",
          "contentType": "json",
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "cloud/smart"
              },
              {
                "name": "messages",
                "value": "={{ [{role:'system',content:\"You are writing on behalf of Robert Elder, CEO of Sovereign Advisory. Return ONLY a valid JSON object \u2014 no preamble, no explanation, no markdown. Your entire response must be pure JSON starting with { and ending with }. Fields: subject (string), body_text (plain text email, no HTML).\"},{role:'user',content:'Prospect: '+$('Webhook').item.json.body.firstName+' '+$('Webhook').item.json.body.lastName+'\\nCompany: '+$('Webhook').item.json.body.email.split('@').pop()+'\\nMessage: '+$('Webhook').item.json.body.message+'\\n\\nStrategic analysis:\\n'+$('AI Lead Analysis (LLM)').item.json.choices[0].message.content+'\\n\\nPrevious draft:\\n'+$('Generate Email Draft (LLM)').item.json.choices[0].message.content+'\\n\\nReviewer feedback (you MUST incorporate this):\\n'+($json.query.notes||'(none provided)')+'\\n\\nWrite a revised outreach email that fully addresses the reviewer feedback above.'}] }}"
              },
              {
                "name": "response_format",
                "value": "={{ {type:'json_object'} }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.LITELLM_API_KEY }}"
              }
            ]
          }
        },
        "typeVersion": 4
      },
      {
        "id": "19bb1afd-f848-4a12-ab6f-db7badebf497",
        "name": "Save New Draft Version",
        "type": "n8n-nodes-base.postgres",
        "position": [
          3000,
          350
        ],
        "parameters": {
          "query": "UPDATE sa_lead_drafts SET is_current=FALSE WHERE lead_id=$1;\nINSERT INTO sa_lead_drafts (lead_id, version, subject, body_text, is_current) SELECT $1, COALESCE(MAX(version),0)+1, $2, $3, TRUE FROM sa_lead_drafts WHERE lead_id=$1;",
          "options": {
            "queryReplacement": "={{ (() => { const raw = $('Re-run AI Analysis').item.json.choices[0].message.content; const m = raw.match(/```[^`]*```/); const s = m ? m[0].replace(/```[^\\n]*\\n/, '').replace(/```$/, '').trim() : raw.trim(); const d = JSON.parse(s); return [$('Parse & Save Lead to PG').item.json.id, d.subject, d.body_text]; })() }}"
          },
          "operation": "executeQuery"
        },
        "credentials": {
          "postgres": {
            "id": "sos8Np7Bc9oPABA7",
            "name": "SA PostgreSQL"
          }
        },
        "typeVersion": 2
      },
      {
        "id": "4c535cdd-6116-4173-bdbb-d15587743e9e",
        "name": "Format Notification Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2100,
          300
        ],
        "parameters": {
          "jsCode": "function safeParseJSON(content) {\n  if (!content) return {};\n  var cleaned = content.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\n  try { return JSON.parse(cleaned); } catch(e) { return { _raw: String(content).substring(0, 200) }; }\n}\nvar webhook = $('Webhook').item.json.body || {};\nvar token = $('Create Review Token').item.json.token;\nvar baseUrl = $env.LEAD_REVIEW_BASE_URL;\nvar researchContent = $('Company Research (LLM)').item.json.choices[0].message.content;\nvar analysisContent = $('AI Lead Analysis (LLM)').item.json.choices[0].message.content;\nvar draftContent = $('Generate Email Draft (LLM)').item.json.choices[0].message.content;\nvar research = safeParseJSON(researchContent);\nvar analysis = safeParseJSON(analysisContent);\nvar draft = safeParseJSON(draftContent);\nvar convStarters = analysis.conversation_starters || [];\nvar questions = analysis.questions || [];\nreturn [{\n  json: {\n    first_name: webhook.firstName || '',\n    last_name: webhook.lastName || '',\n    email: webhook.email || '',\n    company_name: webhook.company_name || 'N/A',\n    service_area: webhook.service || '',\n    phone: webhook.phone || 'N/A',\n    review_url: baseUrl + '/' + token,\n    research_summary: research.summary || 'N/A',\n    research_industry: research.industry || 'N/A',\n    research_size: research.size || 'N/A',\n    research_funding: research.funding_stage || 'N/A',\n    research_products: research.key_products || 'N/A',\n    research_news: research.recent_news || 'N/A',\n    analysis_summary: analysis.summary || 'N/A',\n    analysis_approach: analysis.approach || 'N/A',\n    analysis_starters: convStarters.slice(0,3).join(' | ') || 'N/A',\n    analysis_questions: questions.slice(0,3).join(' | ') || 'N/A',\n    draft_subject: draft.subject || 'New Lead',\n    draft_body: draft.body_text || draft.body || 'N/A'\n  }\n}];"
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Respond 200 OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond 200 OK": {
        "main": [
          [
            {
              "node": "Parse & Save Lead to PG",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route by Action": {
        "main": [
          [
            {
              "node": "Send Outreach Email (SMTP)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Re-run AI Analysis",
              "type": "main",
              "index": 0
            }
          ],
          [],
          []
        ]
      },
      "Save Draft to PG": {
        "main": [
          [
            {
              "node": "Create Notion Lead Page",
              "type": "main",
              "index": 0
            },
            {
              "node": "Create Review Token",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Re-run AI Analysis": {
        "main": [
          [
            {
              "node": "Save New Draft Version",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Review Token": {
        "main": [
          [
            {
              "node": "Set Status: Pending Review",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Analysis to PG": {
        "main": [
          [
            {
              "node": "Generate Email Draft (LLM)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Research to PG": {
        "main": [
          [
            {
              "node": "AI Lead Analysis (LLM)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Lead Analysis (LLM)": {
        "main": [
          [
            {
              "node": "Save Analysis to PG",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Company Research (LLM)": {
        "main": [
          [
            {
              "node": "Save Research to PG",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Notion Lead Page": {
        "main": [
          [
            {
              "node": "Save Notion ID to PG",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse & Save Lead to PG": {
        "main": [
          [
            {
              "node": "Company Research (LLM)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait for Review Decision": {
        "main": [
          [
            {
              "node": "Route by Action",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Email Draft (LLM)": {
        "main": [
          [
            {
              "node": "Save Draft to PG",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Outreach Email (SMTP)": {
        "main": [
          [
            {
              "node": "Mark Lead Sent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Status: Pending Review": {
        "main": [
          [
            {
              "node": "Format Notification Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Notification Data": {
        "main": [
          [
            {
              "node": "Email Notification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Email Notification": {
        "main": [
          [
            {
              "node": "SMS (Twilio)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SMS (Twilio)": {
        "main": [
          [
            {
              "node": "Telegram Notification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram Notification": {
        "main": [
          [
            {
              "node": "WhatsApp (Twilio)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "WhatsApp (Twilio)": {
        "main": [
          [
            {
              "node": "Wait for Review Decision",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "import",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-18T19:37:04.889Z",
        "id": 137,
        "workflowId": "Wyc4UIvCYgByrAwP",
        "versionId": "1b3d5bf4-b541-40e4-8314-3b79a78a9215",
        "event": "deactivated",
        "userId": "22098edd-6722-4a81-acf5-8996c4d72365"
      },
      {
        "createdAt": "2026-03-18T19:37:04.933Z",
        "id": 138,
        "workflowId": "Wyc4UIvCYgByrAwP",
        "versionId": "1b3d5bf4-b541-40e4-8314-3b79a78a9215",
        "event": "activated",
        "userId": "22098edd-6722-4a81-acf5-8996c4d72365"
      },
      {
        "createdAt": "2026-03-18T19:38:29.221Z",
        "id": 139,
        "workflowId": "Wyc4UIvCYgByrAwP",
        "versionId": "1b3d5bf4-b541-40e4-8314-3b79a78a9215",
        "event": "deactivated",
        "userId": "22098edd-6722-4a81-acf5-8996c4d72365"
      },
      {
        "createdAt": "2026-03-18T19:38:31.324Z",
        "id": 140,
        "workflowId": "Wyc4UIvCYgByrAwP",
        "versionId": "1b3d5bf4-b541-40e4-8314-3b79a78a9215",
        "event": "activated",
        "userId": "22098edd-6722-4a81-acf5-8996c4d72365"
      }
    ]
  }
}