workflows/vault_update_credential.json
{
  "id": "VtUltSyncCrd001",
  "name": "Vault Update Credential",
  "active": true,
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "vault-update-credential",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "jsCode": "const inp = $input.first().json;\nconst body = inp.body !== undefined ? inp.body : inp;\n\nconst name     = (body.name     || '').trim();\nconst username = (body.username || '').trim();\nconst password = (body.password || '').trim();\n\nif (!name) {\n  throw new Error('Missing required field: name');\n}\nif (!password) {\n  throw new Error('Missing required field: password');\n}\n\nreturn [{ json: { name, username, password } }];"
      }
    },
    {
      "id": "call-vault-sync",
      "name": "Update Vault Item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 300],
      "parameters": {
        "method": "POST",
        "url": "http://vault_sync:8777/update",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.name, username: $json.username, password: $json.password }) }}",
        "options": {}
      }
    },
    {
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Update Vault Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Vault Item": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "tags": []
}
